<div id="overlay"></div>
<div class="profile-background">
  <div id="mySidenav" class="sidenav">
    <ul>
      <li><%= link_to "Matches", profile_path %></li>
      <br>
      <li><%= link_to "Account", profile_path %></li>
      <br>
      <li><%= link_to "Resources", tips_path %></li>
      <br>
      <li><%= link_to "Help", tips_path %></li>
      <br>
    </ul>
  </div>
  <div id="main">
    <% if current_user.user_type == "mentee" && current_user.mentor.nil? %>
      <div class="welcome-card">
        <div class="header-text">
          <h3>
            <%= "Welcome back," %>
            <%= current_user.first_name.capitalize %>
          </h3>
          <h4> <%= current_user.city %>, <%= current_user.country %> </h4>
          <p>Making the most out of your connections takes work. Read our blog to become a better mentee </p>
          <%= link_to "GET TIPS", tips_url, class: "btn btn-primary border-radius font-weight-bold" %>
        </div>
        <div class="header-image">
          <%= image_tag "welcome.png", class: "welcome-img" %>
        </div>
      </div>
      <div class="mentee-profile-container">
        <div class="mentee-sub-container">
          <div class="header-text">
            <div class="header-image">
            </div>
            <h3>
              <h3><%= "Your Match is in Progress" %></h3>
          <p>Hang tight! We are still working on finding you a best match. We'll let you know via email as soon as it's happened. </p>
            </h3>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div id="main">
    <% if current_user.user_type == "mentee" && !current_user.mentor.nil? %>
      <div class="welcome-card">
        <div class="header-text">
          <h3>
            <%= "Welcome back," %>
            <%= current_user.first_name.capitalize %>
          </h3>
          <h4> <%= current_user.city %>, <%= current_user.country %> </h4>
          <p>Making the most out of your connections takes work. Read our blog to become a better mentee </p>
          <%= link_to "GET TIPS", sign_up_url, class: "btn btn-primary border-radius font-weight-bold" %>
          <!-- link will need to be updated -->
        </div>
        <div class="header-image-1">
          <%= image_tag "welcome.png", class: "welcome-img" %>
        </div>
      </div>
      <div class="mentee-profile-container">
        <div class="photo-container">
          <%= image_tag "mentee-photo-container.png", class: "mentee-photo-container"%>
          <%= cl_image_tag current_user.mentor.photo.key, width: 400, height: 300, crop: :fill, class: "dynamic-photo-mentor" %>
        </div>
        <div class="mentee-sub-container">
          <div class="header-text">
            <h3>
              <%= "You Have a Match!" %>
            </h3>
            <br>
            <h4>
              <%= "Your mentor is" %>
            </h4>
            <h2>
              <%= current_user.mentor.first_name%> <%= current_user.mentor.last_name%>
            </h2>
            <p>
              <%= current_user.mentor.title %> at <%= current_user.mentor.company %>
            </p>
            <div class="small-text">
              <%= "Reach out and introduce yourself! They're expecting you to do so within 10 days." %>
              <br>
              <br>
            </div>
            <%= link_to "CONNECT WITH MY MENTOR", sign_up_url, class: "open-modal-btn btn btn-primary border-radius font-weight-bold" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="main-container">
    <% if current_user.user_type == "mentor" && current_user.mentees.empty? %>
      <div class="welcome-card">
        <div class="header-text">
          <h3>
            <%= "Welcome back," %>
            <%= current_user.first_name.capitalize %>
          </h3>
          <h4> <%= current_user.city %>, <%= current_user.country %> </h4>
          <p>A great relationship with your mentee is beneficial to you too. You may want to hire them someday! Learn how to be a great mentor. </p>
          <%= link_to "GET TIPS", tips_url, class: "btn btn-primary border-radius font-weight-bold" %>
        </div>
        <div class="header-image">
          <%= image_tag "welcome-2.png", class: "welcome-img" %>
        </div>
      </div>
      <div class="mentor-profile-container">
        <div class="header-text">
          <h3><%= "Your Match is in Progress" %></h3>
          <p>Hang tight! We are still working on finding you a best match. We'll let you know via email as soon as it's happened. </p>
        </div>
      </div>
      <br>
      <br>
    <% end %>
  </div>
  <div class="main-container">
    <% if current_user.user_type == "mentor" && !current_user.mentees.empty? %>
      <div class="welcome-card">
        <div class="header-text">
          <h3>
            <%= "Welcome back," %>
            <%= current_user.first_name.capitalize %>
          </h3>
          <h4> <%= current_user.city %>, <%= current_user.country %> </h4>
          <p>A great relationship with your mentee is beneficial to you too. You may want to hire them someday! Learn how to be a great mentor. </p>
          <%= link_to "GET TIPS",tips_url, class: "btn btn-primary border-radius font-weight-bold" %>
        </div>
        <div class="header-image">
          <%= image_tag "welcome-2.png", class: "welcome-img" %>
        </div>
      </div>
      <div class="mentor-profile-container">
        <div class="container">
          <div class="mentor-sub-container">
          <div class="header-text">
            <h3>
              <%= "You Have a Match!" %>
            </h3>
            <br>
            <h4>
              <%= "Your mentee is" %>
            </h4>
            <h2>
              <%= current_user.mentees.first.first_name %> <%= current_user.mentees.first.last_name%>
            </h2>
            <p>
              Student at <%= current_user.mentees.first.university %>
            </p>

          <div class="small-text">
            <p> We've asked your mentee to contact you via email within 10 days. All you have to do is wait! Still haven't heard back from your mentee? <u>Contact us</u> </p>
          </div>
          <!-- <br>
          <small><em>We've asked your mentee to contact you via email within 10 days. All you have to do is wait! Still haven't heard back from your mentee? <u>Contact us</u></em></small> -->
        </div>
        </div>
      </div>
        <div class="photo-container">
          <%= image_tag "mentor-photo-container.png", class: "mentor-photo-container" %>
          <%= cl_image_tag current_user.mentees.first.photo.key, width: 400, height: 300, crop: :fill, class: "dynamic-photo-mentee" %>
        </div>
      </div>
      <br>
      <br>
    <% end %>
  </div>

<!-- Pop Up Mentor -->
</div>
<% if @user.user_type == "mentee" && !@user.mentor.nil? %>
<div class="my-modal" id="modal">
  <div class="modal-header">
    <h2 class="modal-title">Ready to Meet Your Mentor?</h2>
    <a href="/" class="close">
    <%= image_tag "close.png", class: "close-modal-btn small-icon-popup" %>
    </a>
  </div>
  <div class="modal-body">
    <%= image_tag "email.png", class: "modal-image" %>
    <div class="modal-text">
      <div class="container">
        <div class="row justify-content-center">
    <p> Then write them and introduce yourself. Don't know how to formulate your email? Read our tips section. </p>
    <h2><%= @user.mentor.first_name %>'s email is:</h2>
    <div class="copy-container">
    <h3><%= @user.mentor.email %></h3>
    </div>
    <%= link_to "COPY EMAIL",tips_url, class: "btn btn-primary border-radius font-weight-bold copy-cta" %>
  </div>
  </div>
  </div>
  </div>
</div>
<% end %>



<%= javascript_pack_tag 'profile' %>
