<div class="profile-background">

  <div class="container">
    <div class="row">
       <div class="col-2 account-links">
        <div class="links">
          <ul>
            <li><a href="#">Matches</a></li>
            <li><a href="#">Account</a></li>
            <li><a href="#">Resources</a></li>
            <li><a href="#">Help</li>
            </ul>
        </div>
      </div>


      <div class="col-10">
        <h3>
          <%= "Hello," %>
          <%= current_user.first_name %>
        </h3>
      </div>


    </div>
  </div>


  <% if current_user.user_type == "mentee" && current_user.respond_to?(:mentor) && !current_user.mentor.nil? %>
    <div class="container">
      <h4>
        <%= "Congratulations!" %>
      </h4>
      <h4>
        <%= "Your mentor is" %>
      </h4>
      <h4>
        <%= current_user.mentor.first_name %>
      </h4>
      <h4>
        <%= current_user.mentor.title %>
      </h4>
      <%= "Get to know them via her Linkedin Profile here" %>
    </div>
    <div class="container">
      <h4>
        <%= "What Now?" %>
      </h4>
      <h4>
        <%= "Reach out to them and introduce yourself!" %>
      </h4>
    </div>
  <% end %>



<div class="container">
  <% if current_user.user_type == "mentor" && current_user.respond_to?(:mentees) && !current_user.mentees.nil? %>
    <div class="container">
      <h4>
        <%= "Congratulations!" %>
      </h4>
      <h4>
        <%= "Your mentee is" %>
      </h4>
      <h4>
        <%= current_user.mentees.first.first_name %>
      </h4>
      <h4>
        <%= current_user.mentees.first.title %>
      </h4>
      <%= "Get to know them via her Linkedin Profile here" %>
    </div>
    <div class="container">
      <h4>
        <%= "What Now?" %>
      </h4>
      <h4>
        <%= "Wait for them to reach out to you!" %>
      </h4>
    </div>
  <% end %>
</div>
</div>
