<div class="preferences-form">
  <div class="step-2-top">
    <a class="back-arrow" href= <%= "/users/sign_up?user_type=#{@user_type}" %> >
      <%= image_tag "back-arrow.png", class: "small-icon" %>
    </a>
    <a class="close" href="/">
      <%= image_tag "close.png", class: "small-icon" %>
    </a>
    <div class="steps-logo">
      <%= image_tag "logo-text-white.png", class: "logo" %>
    </div>
    <div class="steps-bar">
      <%= image_tag "3-step.png" %>
    </div>
    <div class="header-change">
      <h2>Select Your Preferences </h2>
      <% if @user_type == "mentor" %>
      <h5>I want my mentee to be...</h5>
      <% else %>
      <h5>I want my mentor to be...</h5>
      <% end %>
    </div>
    <%= simple_form_for(@user, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-6">
          <%= f.input :city_preference,
          label: "City",
          required: true,
          placeholder: 'New York'%>
          <%= f.input :country_preference,
          label: "Country",
          required: true,
          collection: @countries,
          selected: "USA"%>
          <%= f.input :language_preference,
          label: "Language",
          required: true,
          collection: @languages,
          selected: "English" %>
          <!-- This div is for users creating a mentee account. -->
          <div class="mentee-preferences">
            <%= f.input :gender_preference,
            label: "Gender",
            collection: @genders,
            selected: "Male"%>
            <%= f.input :industry_preference,
            required: true,
            label: "Industry",
            collection: @industries,
            selected: 'Information Technology and Services' %>
            <%= f.input :role_preference,
            required: true,
            label: "Title",
            placeholder: 'Director of AI' %>
            <%= f.input :experience_preference,
            required: true,
            label: "Years of Experience",
                # hint: "Years of Experience",
                collection: @experiences,
                selected: "9-11" %>
              </div>
              <div class="container">
                <div class="row d-flex justify-content-center">
                  <div class="col-3">
                    <div class="form-actions align-btn signup-btn btn btn-primary">
                      <%= f.button :submit, "SIGN UP"%>
                    </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <!--   <p> Already have an account? <%= render "devise/shared/links" %> </p>
        -->
      </div>
      <br>
    </div>
