<div class="signup-banner">
  <div class="preferences-form">
    <div class="step-2-top">
      <a class="back-arrow" href= <%= "/users/sign_up?user_type=#{@user.user_type}" %> >
        <%= image_tag "back-arrow.png", class: "small-icon" %>
      </a>
      <a class="close" href="/">
        <%= image_tag "close.png", class: "small-icon" %>
      </a>
      <div class="steps-logo">
        <%= image_tag "logo-text-white.png", class: "logo" %>
      </div>
      <div class="steps-bar">
        <%= image_tag "3-step.png" %>
      </div>
      <div class="header-change">
        <h2>Select Your Preferences </h2>
        <% if @user_type == "mentor" %>
        <h5>I want my mentee to be...</h5>
        <% else %>
        <h5>I want my mentor to be...</h5>
        <% end %>
      </div>

      <%= simple_form_for(@user, url: update_roles_url, method: :patch) do |f| %>
      <%= f.error_notification %>
      <%= f.input :role_preference, class: 'role_preference' %>

      <div class="container">
        <div class="row d-flex justify-content-center">

          <!-- Here you have to use the cards Kailene :-) -->

        </div>
        <div class="align-btn">
          <button class="continue-btn btn btn-primary">CONTINUE</button>
        </div>
        <% end %>
      </div>
      <br>
    </div>
    <br>
  </div>
</div>



<%= javascript_pack_tag 'role_preference' %>
