<div class="signup-banner">
  <div class="preferences-form">

    <div class="step-2-top">

      <a class="back-arrow" href= "/complete_profile" >
        <%= image_tag "back-arrow.png", class: "small-icon" %>
      </a>
      <a href="/" class="close">
        <%= image_tag "close.png", class: "small-icon" %>
      </a>
      <div class="steps-logo">
        <%= image_tag "logo-text-white.png", class: "logo" %>
      </div>
      <div class="header-change">
        <div class="header">
        <% if current_user.user_type == "mentor" %>
          <h2>Complete Your Profile</h2>
          <h5>I am in...</h5>
        <% else %>
          <h2>Select Your Preferences </h2>
          <h5>I want my mentor to be in...</h5>
        <% end %>
        </div>
      </div>

    </div> <!-- Steps 2 top -->
    <%= simple_form_for(@user, url: update_roles_url, method: :patch) do |f| %>
    <%= f.error_notification %>
      <% if current_user.user_type == "mentor" %>
        <%= f.input :role, class: 'role' %>
      <% else %>
        <%= f.input :role_preference, class: 'role_preference' %>
      <% end %>
      <div class="container">
        <div class="row d-flex justify-content-center">

          <% if current_user.user_type == "mentor" %>

            <!-- **************   Mentor   ************** -->

            <div class="cards-display">

              <div class="role-card">
                <div class="background-card-small blue-card">
                  <h3 class="role-name-large font-active">ENGINEERING</h3>
                  <%= link_to new_user_registration_url(user_type: "mentee"), class: "text-update" do %>
                  <div class="white-box-small">
                    <%= image_tag "blue-role-engineer.png", class: 'card-image-small'%>
                  </div>
                </div>
                <% end %>
              </div>

              <div class="role-card">
                <div class="background-card-small blue-card">
                  <h3 class="role-name-large">PRODUCT</h3>
                  <%= link_to new_user_registration_url(user_type: "mentee"), class: "text-update" do %>
                  <div class="white-box-small">
                    <div class="text-info-mentee text-info">
                      <%= image_tag "blue-role-product.png", class: 'card-image-small'%>
                    </div>
                  </div>
                </div>
                <% end %>
              </div>

              <div class="role-card">
                <div class="background-card-small blue-card">
                  <h3 class="role-name-large">UI/UX DESIGN</h3>
                  <%= link_to new_user_registration_url(user_type: "mentee"), class: "text-update" do %>
                  <div class="white-box-small">
                    <div class="text-info-mentee text-info">
                      <%= image_tag "blue-role-ux.png", class: 'card-image-small'%>
                    </div>
                  </div>
                </div>
                <% end %>
              </div>

              <div class="role-card">
                <div class="background-card-small blue-card">
                  <h3 class="role-name-large">MARKETING</h3>
                  <%= link_to new_user_registration_url(user_type: "mentee"), class: "text-update" do %>
                  <div class="white-box-small">
                    <div class="text-info-mentee text-info">
                      <%= image_tag "blue-role-marketing.png", class: 'card-image-small'%>
                    </div>
                  </div>
                </div>
                <% end %>
              </div>

            </div> <!-- Cards Display -->

            <div class="cards-display-2">

              <div class="role-card">
                <div class="background-card-small blue-card">
                  <h3 class="role-name-small">BUSINESS DEVELOPMENT</h3>
                  <%= link_to new_user_registration_url(user_type: "mentee"), class: "text-update" do %>
                  <div class="white-box-small">
                    <div class="text-info-mentee text-info">
                      <%= image_tag "blue-role-businessdev.png", class: 'card-image-small'%>
                    </div>
                  </div>
                </div>
                <% end %>
              </div>

              <div class="role-card">
                <div class="background-card-small blue-card">
                  <h3 class="role-name-large">DATA</h3>
                  <%= link_to new_user_registration_url(user_type: "mentee"), class: "text-update" do %>
                  <div class="white-box-small">
                    <div class="text-info-mentee text-info">
                      <%= image_tag "blue-role-data.png", class: 'card-image-small'%>
                    </div>
                  </div>
                </div>
                <% end %>
              </div>

              <div class="role-card">
                <div class="background-card-small blue-card">
                  <h3 class="role-name-large">SALES</h3>
                  <%= link_to new_user_registration_url(user_type: "mentee"), class: "text-update" do %>
                  <div class="white-box-small">
                    <div class="text-info-mentee text-info">
                      <%= image_tag "blue-role-sales.png", class: 'card-image-small'%>
                    </div>
                  </div>
                </div>
                <% end %>
              </div>

            </div> <!-- Cards Display 2 -->

          <% else %>

            <!-- **************   Mentee   ************** -->

            <div class="cards-display">

              <div class="role-card">
                <div class="background-card-small orange-card">
                  <h3 class="role-name-large">ENGINEERING</h3>
                  <%= link_to new_user_registration_url(user_type: "mentee"), class: "text-update" do %>
                  <div class="white-box-small">
                    <%= image_tag "orange-role-engineer.png", class: 'card-image-small'%>
                  </div>
                </div>
                <% end %>
              </div>

              <div class="role-card">
                <div class="background-card-small orange-card">
                  <h3 class="role-name-large">PRODUCT</h3>
                  <%= link_to new_user_registration_url(user_type: "mentee"), class: "text-update" do %>
                  <div class="white-box-small">
                    <div class="text-info-mentee text-info">
                      <%= image_tag "orange-role-product.png", class: 'card-image-small'%>
                    </div>
                  </div>
                </div>
                <% end %>
              </div>

              <div class="role-card">
                <div class="background-card-small orange-card">
                  <h3 class="role-name-large">UI/UX DESIGN</h3>
                  <%= link_to new_user_registration_url(user_type: "mentee"), class: "text-update" do %>
                  <div class="white-box-small">
                    <div class="text-info-mentee text-info">
                      <%= image_tag "orange-role-ux.png", class: 'card-image-small'%>
                    </div>
                  </div>
                </div>
                <% end %>
              </div>

              <div class="role-card">
                <div class="background-card-small orange-card">
                  <h3 class="role-name-large">MARKETING</h3>
                  <%= link_to new_user_registration_url(user_type: "mentee"), class: "text-update" do %>
                  <div class="white-box-small">
                    <div class="text-info-mentee text-info">
                      <%= image_tag "orange-role-marketing.png", class: 'card-image-small'%>
                    </div>
                  </div>
                </div>
                <% end %>
              </div>

            </div> <!-- Display Cards -->

            <div class="cards-display-2">

                <div class="role-card">
                  <div class="background-card-small orange-card">
                    <h3 class="role-name-small">BUSINESS DEVELOPMENT</h3>
                    <%= link_to new_user_registration_url(user_type: "mentee"), class: "text-update" do %>
                    <div class="white-box-small">
                      <div class="text-info-mentee text-info">
                        <%= image_tag "orange-role-businessdev.png", class: 'card-image-small'%>
                      </div>
                    </div>
                  </div>
                  <% end %>
                </div>

                <div class="role-card">
                  <div class="background-card-small orange-card">
                    <h3 class="role-name-large">DATA</h3>
                    <%= link_to new_user_registration_url(user_type: "mentee"), class: "text-update" do %>
                    <div class="white-box-small">
                      <div class="text-info-mentee text-info">
                        <%= image_tag "orange-role-data.png", class: 'card-image-small'%>
                      </div>
                    </div>
                  </div>
                  <% end %>
                </div>

                <div class="role-card">
                  <div class="background-card-small orange-card">
                    <h3 class="role-name-large">SALES</h3>
                    <%= link_to new_user_registration_url(user_type: "mentee"), class: "text-update" do %>
                    <div class="white-box-small">
                      <div class="text-info-mentee text-info">
                        <%= image_tag "orange-role-sales.png", class: 'card-image-small'%>
                      </div>
                    </div>
                  </div>
                  <% end %>
                </div>

            </div> <!-- Display Cards 2 -->


          <% end %> <!-- If/else statement -->

        </div> <!-- row d-flex justify-content-center -->
      </div> <!-- container  -->


        <div class="align-btn">
          <button class="continue-btn btn btn-primary">CONTINUE</button>
        </div>

    <% end %>

  </div> <!-- Preferences form -->
</div> <!-- Signup Banner -->

<%= javascript_pack_tag 'role_preference' %>
