



<body>
<div class="profile-background">
<div id="mySidenav" class="sidenav">
  <ul>
      <li><%= link_to "Matches", profile_path %></li>
      <br>
      <li><%= link_to "Account", profile_path %></li>
      <br>
      <li><%= link_to "Resources", tips_path %></li>
      <br>
      <li><%= link_to "Help", tips_path %></li>
      <br>
  </ul>
  </div>


 <% if current_user.user_type == "mentee" %>
 <div class="container tips-text">
 <h1>How To Be A Good Mentee</h1><br>

      <%= image_tag "tips-banner", class: "tips-banner" %>

      <br><br>
      <h2>Be Prepared</h2>
      <a>
      When  you’re looking for a formal mentoring relationship treat the process as you
        would any major project. Take the time to prepare, and set a specific goal for what you’d like to learn and
        achieve.
        <br><br>The most effective people come prepared with answers to common questions along with
        the questions they wish to ask. Here is how MentorMatch approach for someone willing to mentor
        or when someone is looking for being mentored.
      <br><br>
      </a>

      <h2>Be clear about what you want to gain during the conversation</h2>

      <a>
        Are you looking to build a personal network, or are there specific questions you hope can
        answered? Both are perfectly valid, and it isn’t necessarily binary, but it’s good to be clear
        about what you’re after early on.
        <br><br>These goals are both good, but the purpose and results are very different. In our
        experience, the best long term network is built on early conversations that are genuine and
         candid. (No different from any other valuable relationships in our lives.)
         <br>

      <br><br>
      </a>

      <h2>Questions to ask your mentor</h2>
      <%= image_tag "tip1-1", class: "tip-img" %>

      <a>
        Here are some questions people have asked us that prompted great conversations:
        <ul>
        <li>Do I need to specialize as a designer or should I be a generalist?</li>
        <li>I’m worried about joining a startup as the only designer for my first job; should I join
        a bigger company instead?</li>
        <li>Do I really need to network to find a job?</li>
        <li>I eventually want to do _____. What steps should I follow to get there?</li>
        </ul>
      <br>
      </a>

      <h2>What mentors will often ask</h2>
      <a>
        We don’t have a script for these conversations, but there are some foundational topics that
        always come up. For example:
        <ul>
        <li>How you think I can help. Seriously, why me? Is my career path similar to what you’re
        interested in? Do you feel I can shed light on areas that you aren’t familiar with in the
        hiring process? Maybe you feel that I can connect you with someone who can help you move
        forward. All are 100% valid and worth talking through.</li>
        <li>Your goals, both long term and short term. If you’re just starting out, you may be focused
        on finding your first job, which is a different conversation from someone who wants to talk
        through whether they want to become a manager or switch to a different field.</li>
        <li>Why you’ve chosen the field you’re in. It’s possible that we’ll discover you aren’t as
        excited about it as you thought you would be. In those cases, we may switch gears to talk
        through a different, and hopefully better, career path.</li>
        </ul>
      <br>
      </a>

      <h2>Pick a communication method best for you</h2>
      <a>
        This may sound odd, but the clearer you are regarding how you’d like to meet, the easier it
        will be to get things set up. Some key things to think about:
        <ul>
        <li>Meeting in person has huge benefits for communication and building a connection, but
        scheduling can be hard. It may also be uncomfortable for some people to meet a total stranger.
        Be open to a phone or video call initially. You can even use Slack and have a great conversation.</li>
        <li>Decide how much time you think you’ll need. A good target is 30–45 minutes, not counting
        travel time. If you have a good conversation, you can always extend or set up another time
        to meet.</li>
        <li>Make it convenient if you’re meeting in person. As the mentor is investing their time to
        help you, do your best to make it as easy as possible for them. Ask which times would work
        best and the area of town they would prefer.</li>
        <li>Think about the location. Provide a couple of options that are public, like a library or
        coffee shop, and avoid bars. You may eventually be comfortable to meet over a beer, but now
        isn’t the time to add alcohol to the dynamic.</li>
        <li>Be flexible. Calendars can get overbooked and on occasion, a high-priority conflict will
        come up at the last minute, so you may have to reschedule.</li>
        </ul>
        <br>

      <br>
      </a>

      <h2>What to avoid</h2>
      <a>
        <ul>
        <li>Hopefully, this is clear by now, but do not come unprepared, expecting the other person
        to have a list of things to teach you.</li>
        <li>Don’t be slow to reply. If you get a response from someone willing to help you, jump on
        the opportunity quickly.</li>
        <li>On the other side, be flexible on their response times. Don’t badger them if you don’t
        receive an immediate response. If you don’t hear back within a week, send a polite follow-up.</li>
        <li>Don’t view this as a transaction. Even if someone isn’t able to give you their time now,
        set a foundation for the future, when they may have more flexibility.</li>
        <li>Do not view this as a dating opportunity. Seriously. I’ve had friends and colleagues (all
        women) who were put in an awkward situation where men requesting mentorship thought it was
        more than that.</li>
        </ul><br>
      </a>


    </div>
</div>
<% end %>


<% if current_user.user_type == "mentor" %>
 <div class="container tips-text">
 <h1>How To Be A Good Mentor</h1><br>

      <%= image_tag "tips-banner", class: "tips-banner" %>

      <br><br>
      <h2>You got help when you were starting out - inspire others</h2>
      <a>
        If you've excelled in your career in any way, you likely had help from other professionals. Maybe a contact from college connected you with your first internship, or a seasoned colleague at your entry-level job helped set you up for a promotion. Most people in the business world start at the bottom and work their way up, but they don't often do it alone.
      <br><br>
      Now that you're more established and comfortable in your career, it's time to pay it back. Your journey can inspire and guide others, and a rewarding next step is to become a mentor. Here's what MentorMatch recommends to becoming a great mentor.
      </a>
      <br><br>

      <h2>Communicate and listen</h2>

      <a>
        Your mentee should ultimately oversee their own career path. You help them achieve whatever it is they want to achieve. Don't inject too much of your own desires or opinions into their plan. Ask them about their aspirations as well as their expectations of you. For example, are they looking for support, guidance or insight?

Make sure to target your approach. For instance, maybe you want to help someone who's experiencing a similar situation as you did, or perhaps you want to give someone opportunities they don't have access to.

      <br><br>
      </a>

      <h2>Offer constructive criticism</h2>
      <a>
        While you don't want to judge or offend your mentee, you shouldn't filter your feedback to avoid hurting them, either. There is a way to deliver criticism without breaking their confidence. Sharing your experience is a great way to send a message without criticizing them directly. For example, tell them about a mistake you made and how you learned from it. If the mentee is savvy, they will see the comparison and the subtle message: "Don't do what I did, and here's why." The point is to educate, not tear down the person.
      <br>
      </a>
      <br><br>

      <h2>Practice empathy</h2>
      <a>
        You might think empathy cannot be taught, but with practice, you can achieve higher levels of empathy. This requires effort: listening more, being curious about others, appreciating those who are different from you, illuminating any innate judgments, and educating yourself to break false stigmas and ignorant notions.
      <br><br>
      </a>

      <h2>Let your mentee make decisions</h2>
      <a>
        <%= image_tag "tip2", class: "tip-img" %>
        Because you "know better," it might be tempting to take the wheel while your mentee rides shotgun. This is not how your relationship should operate. Your job as the mentor is to help a mentee learn their role, not to do it for them.
        <br>
        One of the most important skills the mentee needs to develop, with your guidance, is the ability to think on the spot with competing demands and high pressure. Some call it creativity; others call it common sense. Whatever you call it, your mentee has to be able to solve problems on the fly. Your role as a mentor is to help them develop those skills.
        <br><br>
      </a>

    </div>
</div>
<% end %>
</div>
