<div class="main-content main-banner">
  <h2 class="fc-white">I want to be a...</h2>

  <div class="mentor_or_mentee_form">

    <div class="cardM">
      <div class="background-card blue-card">
        <%= link_to 'MENTEE', new_user_registration_url(user_type: "mentee"), class: 'select-btn'%>
        <div class="white-box">
          <%= image_tag "mentor-image.png", class: 'card-image'%>
          <%= image_tag "question-mark-icon.png"%>
        </div>
      </div>
    </div>

    <div class="cardM">
      <div class="background-card orange-card">
        <%= link_to 'MENTOR', new_user_registration_url(user_type: "mentor"), class: 'select-btn'%>
        <div class="white-box">
          <%= image_tag "mentee-image.png", class: 'card-image'%>
          <%= image_tag "question-mark-icon.png"%>
        </div>
      </div>
    </div>
  </div>
</div>
